In [1]:
import pandas as pd

In [3]:
# hosd patients
df = pd.read_csv('MIMIC-IV (3.1)/hosp/patients.csv')

# Display the first few rows of the DataFrame
df.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000058      F          33         2168       2020 - 2022         NaN
3    10000068      F          19         2160       2008 - 2010         NaN
4    10000084      M          72         2160       2017 - 2019  2161-02-13

In [14]:
print(f" Total Patients = {df['subject_id'].nunique()}")

 Total Patients = 364627

In [18]:
print(f"Average Age {df["anchor_age"].min()}")

Average Age 18

In [20]:
df_micro_events = pd.read_csv('MIMIC-IV (3.1)/hosp/microbiologyevents.csv', low_memory=False)
df_micro_events

,microevent_id,subject_id,hadm_id,micro_specimen_id,order_provider_id,chartdate,charttime,spec_itemid,spec_type_desc,test_seq,...,org_name,isolate_num,quantity,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,comments
0,1,10000032,NaN,1304715,P69FQC,2180-03-23 00:00:00,2180-03-23 11:51:00,70046,IMMUNOLOGY,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,___
1,2,10000032,NaN,3342526,P69FQC,2180-03-23 00:00:00,2180-03-23 11:51:00,70093,Blood (Toxo),1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NEGATIVE FOR TOXOPLASMA IgG ANTIBODY BY EIA. ...
2,3,10000032,NaN,3910370,P69FQC,2180-03-23 00:00:00,2180-03-23 11:51:00,70017,SEROLOGY/BLOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NONREACTIVE. Reference Range: Non-Reactive.
3,4,10000032,NaN,5401234,P69FQC,2180-03-23 00:00:00,2180-03-23 11:51:00,70017,SEROLOGY/BLOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POSITIVE BY EIA. A positive IgG result genera...
4,5,10000032,NaN,6287540,P69FQC,2180-03-23 00:00:00,2180-03-23 11:51:00,70046,IMMUNOLOGY,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HIV-1 RNA is not detected. Performed using th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988219,3988220,19999987,23865745.0,4998105,NaN,2145-11-05 00:00:00,2145-11-05 10:35:00,70012,BLOOD CULTURE,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3988220,3988221,19999987,23865745.0,945091,NaN,2145-11-05 00:00:00,2145-11-05 12:15:00,70012,BLOOD CULTURE,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3988221,3988222,19999987,23865745.0,1483778,NaN,2145-11-06 00:00:00,2145-11-06 13:15:00,70012,BLOOD CULTURE,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3988222,3988223,19999987,23865745.0,9584280,NaN,2145-11-06 00:00:00,2145-11-06 17:05:00,70012,BLOOD CULTURE,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.
3988223,3988224,19999987,23865745.0,9074855,NaN,2145-11-07 00:00:00,2145-11-07 06:00:00,70012,BLOOD CULTURE,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO GROWTH.

In [21]:
print(f'Total Patients = {df_micro_events['subject_id'].nunique()}')

Total Patients = 222313